<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<section class="activiteit-cursus">
  <% if (results) { %>
    <%results.forEach(result => { %>
  
        <article>
          <div class="carousel-item">
          <img src="<%= result.coverimages %>" alt="activiteit-cursus">
         <h4> <%= result.titles[0] %></h4>
          <!-- <% if (result.authors) { %>
          <h5> <%= result.authors %></h5>
          <% } %>
          <p> <%= result.summaries[0] %></p> --> 
        </div>
        </article>
    
    <% }) %>
  <% } %>

    
</section>



<%- include('./partials/foot.ejs') %>