<%- include('./partials/head') %>

<section class="detail-page" id="detail-page">
    <div class="detail-container">
      <div class="grid-container">
        <h2 class="detail-title"><%= product.titel %></h2>
        <div class="grid-container">
          <img src="<%= product.plaatjes[0].url %>" alt="plaatje" class="image-detail" />
          <div class="detail-data"> 
            <span>
              <p class="description_product">
                <%- product.beschrijving.html %>
              </p>
            </span>
            <div class="detail-price">
              €<%- product.prijs %>
            </div>
            <span>
              <button>In winkelwagen</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<%- include('./partials/foot') %>