<%- include('./partials/head') %>

    <!-- <header>
        <svg id="search-icon" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/></svg>
        <p>Coding the Curbs interactive map</p>
        <input id="search-bar" type="text" placeholder="Search...">
    </header> -->

    <main>
        <!-- <form id="search-form">
            <label for="big-search-bar">Zoek op adres:</label>
            <input id="big-search-bar" type="text" placeholder="Search...">
        </form> -->
        
        <div id="big-wrapper">
            <div id="map"></div>
            <div id="side-wrapper">
                <ul id="big-list">
                    <div id="stick-top">
                        <a href="/"><img src="/images/CTC_FULL_BLUE.png" alt="CTC brand logo"></a>
                        <div class="buttonHolder" id="top-holder">
                            <button id="sort-button">Sorteer</button>
                            <button id="filter-button">Filter</button>
                        </div>
                    </div>


                    <li class="filterStyle">

                        <form action="filtered" method="get" id="filter-form">
                            <p>Filter Op: </p>
                            <% for(let i = 0; i < 14; i++){ %>
                            <span class="dynamicCard"></span>
                                <% } %>
                            <p>Locatie: </p>
                            <!-- <input type="checkbox" name="filterLoc" value="distance" id="distanceFilter">
                            <label for="distanceFilter">&lt; 5 km </label> -->
                            <label for="utrFilter">Utrecht</label>
                            <input type="checkbox" name="town" value="Utrecht" id="utrFilter">
                            <label for="schieFilter">Schiedam</label>
                            <input type="checkbox" name="town" value="Schiedam" id="schieFilter">
                            <label for="amsFilter">Amsterdam</label>
                            <input type="checkbox" name="town" value="Amsterdam" id="amsFilter">
                            <label for="rotFilter">Rotterdam</label>
                            <input type="checkbox" name="town" value="Rotterdam" id="rotFilter">
                            <p>Functie: </p>
                            <label for="parkFilter">Parking</label>
                            <input type="checkbox" name="utilization" value="parking" id="parkFilter">
                            <label for="loadFilter">Meeting Point</label>
                            <input type="checkbox" name="utilization" value="meetingpoint" id="loadFilter">
                            <label for="deelFilter">Market</label>
                            <input type="checkbox" name="utilization" value="market" id="deelFilter">
                            <p>Grootte: </p>
                            <label for="kleinFilter">1 plek</label>
                            <input type="checkbox" name="size" value="1" id="kleinFilter">
                            <label for="midFilter">1.5 plek</label>
                            <input type="checkbox" name="size" value="1,5" id="midFilter">
                            <label for="bigFilter">2 plek</label>
                            <input type="checkbox" name="size" value="2" id="bigFilter">
                            <input type="submit">
                        </form>
                    </li>


                    <li class="sortHidden">
                        <p>Sorteer op: </p>
                        <a href="/?orderBy=name&direction=ASC'" button class="sort-button">naam</button></a>

                    </li>
                    <% for(let i = 0; i < smartzones.length; i++){ %>
                      <li class="zoneInfo">
                        <p>Smartzone: <span> <%= smartzones[i].name %> </span></p>

                              
                          
                        <p>Locatie: <span> <%= smartzones[i].town %> </span></p>
                        <p>Adres: <span> <%= smartzones[i].address %> </span></p>
                        <% let stringified = smartzones[i].utilization.toString() %>
                        <p>Functie: <span><%= stringified.charAt(0).toUpperCase() + stringified.slice(1) %></span></p>
                        <p>Grootte: <span> <%= smartzones[i].size %> </span></p>
                        <div class="buttonHolder">
                            <button class="selectButton">Selecteer</button>
                            <button class="reserveButton">Reserveer</button>
                        </div>
                        </li>
                      <% } %>

                </ul>
                <button id="side-out"><span class="sr-only">Extend/Hide button</span></button>
            </div>
        </div>

        <section id="reserve-form" class="reserveHidden">
            <img src="/images/close-window.png" class="exitButton">
            <form action="/" method="post" id="reserved">
                <label for="userInput">Username: </label>
                <input type="text" name="author" id="userInput">

                <label for="startDInput">Start date: </label>
                <input required type="date" name="dateStart" id="startDInput">

                <label for="endDInput">End date: </label>
                <input required type="date" name="dateEnd" id="endDInput">

                <label for="startTInput">Start Time: </label>
                <input required type="time" name="timeStart" id="startTInput">

                <label for="endTInput">End Time: </label>
                <input required type="time" name="timeEnd" id="endTInput">

                <select required multiple="true" title="Smartzone:" name="smartzoneId">
                    <optgroup label="Smartzones">

                        <% for(let i = 0; i < smartzones.length; i++){ %>
                            <option value="<%= smartzones[i].id %>" name="smartzoneId"><%= smartzones[i].name %></option>
                            <% } %>

                    </optgroup>
                  </select>
                  
                <input type="submit" value="Reserve" class="submitButton">  
            </form>
        </section>
    </main>

<%- include('./partials/foot') %>
