<%- include('./partials/head.ejs') %>
<!-- Into teks begin-->
<main>
<div class="beschrijving">
    <div class="allergenen">
        <h1 class="main-title"> Ons Producten</h1>
        <p class="omschrijving">
            Doe altijd eerst de Vini Mini test voordat je onze producten koopt.
             Zo weet jij of je in 3 of 6 kleine
            stapjes kunt beginnen met voor het eerst allergenen te geven.
        </p>
        <p class="advies">
            *Overleg voor je begint altijd met een arts of het consultatiebureau*
        </p>
    </div>
<!-- ei en pinda categorie-->
    <div class="grid-container">   
         <% categories.forEach(category => { %>
        <% if(category.titel === "Pinda" || category.titel === "Ei" ){ %>
    <div class="container-test">
        <a href="/pinda-ei?categorieId=<%= category.id %>"><%= category.titel %></a>
            <img
            srcset="/img/placeholder.png"
            src="/pinda-ei?categorieId=<%= category.id %>"
            data-src="lazy.jpg"
            alt="Placeholder"
            loading="lazy"
          />
          
        </div>
        <% } %>
     <% }); %>
        
 
      
<%- include('./partials/foot.ejs') %>