<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<main class="item">
	<section class="item-image">
		<picture>
			<source srcset="" />
			<img src="<%= results[0].coverimages[1] %>" alt="" />
		</picture>
	</section>
	<section class="discription">
		<h1><%= results[0].titles[0] %></h1>
		<h2><%= results[0].authors[0] %></h2>
		<dl>
			<dt>Uitgeverij</dt>
			<dd><%= results[0].publisher %></dd>
			<dt>Genre</dt>
			<dd><%= results['subject-topical'] || 'Onbekend' %></dd>
			<dt>Taal</dt>
			<dd><%= results[0].languages %></dd>
		</dl>
		<h2>Samenvatting</h2>
		<p><%= results[0].summaries %></p>
	</section>
	<section class="availablity">
		<h2>Beschikbaarheid</h2>
	</section>
</main>

<!-- De opmaak van de footer  -->
<%- include('./partials/foot') %>
