<%- include('./head') %>

<main>
  <section class="filter-container">
    <div class="main-border">

    </div>
     <div class="filter-icons">
      <% methods.forEach(categorie=> { %>
    
      <% }) %>

    </div>
  </section>


    <section class="method-container">
        
      <% methods.forEach(method=> { %>
        <article class="method-card <%= method.categories[0].title.replaceAll(" ", "-") %>">
          <a href="./detailpage/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>" loading="lazy" alt="<%= method.title %>">
           <% } else { %>
            <img  class="method-img" src="/placeholder.png" alt="Placeholder" />
           <% } %>
           <div class="method-name"><%= method.title %><img class="arrow" src="/arrows-left.png" alt="pijltjes naar rechts"></div>
         </a>
        </article> 
      <% }) %>
    
    </section>

</main>






<%- include('./foot') %>