<%- include('./head-overviewpage') %>

<main class="overviewpage-main">

    <section class="method-container">
        
      <% methods.forEach(method=> { %>
        <article class="method-card <%= method.categories[0].title.replaceAll(" ", "-") %>">
          <a href="./detailpage/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>" loading="lazy" alt="<%= method.title %>">
           <% } else { %>
            <img  class="method-img" src="/placeholder.png" alt="Placeholder" />
           <% } %>
           <div class="method-name"><%= method.title %><img class="arrow" src="/arrows-left.png" loading="lazy" alt="pijltjes naar rechts"></div>
         </a>
        </article> 
      <% }) %>
    
    </section>

  <section class="load-more">
    <button class="load-more-button">Laad Meer</button>
 </section>

</main>






<%- include('./foot') %>