<%- include('./head') %>

<main>
    
    <section class="method-container">
        
      <% methods.forEach(method=> { %>
        <article class="method-card">
          <a href="./detailpage/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>" alt="<%= method.title %>">
           <% } else { %>
            <img  class="method-img" src="/placeholder.png" alt="Placeholder" />
           <% } %>
         </a>
        </article> 
      <% }) %>
    
    </section>

</main>






<%- include('./foot') %>