<%- include('./head-overviewpage') %>

<header class="header-methodes">
  <h1>Tekenmethodes</h1>
</header>

 <section class="filter-search-container">
      <div class="searchbar">
      <form>
         <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
         <input type="text" placeholder="zoeken..">
      </form>
     </div>
     <div class="categories-container">
      <% methods.forEach(categorie=> { %> 
        <h2><%= method.categories[0].title %></h2>
      <% }) %>
     </div>
  </section>


<main class="overviewpage-main">

    <section class="method-container">
        
      <% methods.forEach(method=> { %>
        <article class="method-card <%= method.categories[0].title.replaceAll(" ", "-") %>">
          <a href="./detailpage/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>" loading="lazy" alt="<%= method.title %>">
           <% } else { %>
            <img  class="method-img" src="/placeholder.png" alt="Placeholder" />
           <% } %>
           <div class="method-name"><%= method.title %><img class="arrow" src="/arrows-left.png" loading="lazy" alt="pijltjes naar rechts"></div>
         </a>
        </article> 
      <% }) %>
    
    </section>

  <section class="load-more">
    <button class="load-more-button">Laad Meer</button>
 </section>

</main>






<%- include('./foot') %>