<!-- Er staat hier container:false, omdat ik voor een bepaalde fuctionaliteit  -->
<%- include('./head', {container:false}) %>

<main>
  <section class="filter-container">
    <div class="stripe"></div>
  </section>


    <section class="method-container">
        
      <% methods.forEach(method=> { %>
        <article class="method-card <%= method.categories[0].title.replaceAll(" ", "-") %>">
          <a href="./detailpage/<%= method.slug %>?id=<%= method.id %>">
           <% if (method.template?.url) { %> 
            <img class="method-img" src="<%= method.template?.url %>" alt="<%= method.title %>">
           <% } else { %>
            <img  class="method-img" src="/placeholder.png" alt="Placeholder" />
           <% } %>
         </a>
        </article> 
      <% }) %>
    
    </section>

</main>






<%- include('./foot') %>