<%- include('./partials/head.ejs') %>



        <div class="grid-container">

        <% data.producten.forEach(product => { %>
                <article>

            <h2>
                <%= product.titel%>
            </h2>
            <p>
                <a href="/product-pagina?id=<%= product.id %>"><%= product.titel %></a>
            </p>
        <% }); %>
        </article>
</div>

    

<%- include('./partials/foot.ejs') %>

