<%- include('./partials/head') %>

<h1 class="productenTitel">Producten</h1>

<section class="productContainer">
<% producten.forEach(product=> { %>




  <div class="product">
    <!-- deze linkt naar de detailpagina van een product -->
    <a href="/detail?detailId=<%= product.id %>"> </a>

    <div class="productBox">
      <a href="/detail/?detailSlug=<%= product.slug %> "> </a>

      <!-- foto uit de API -->
      <% if(product.plaatjes.length) { %>
      <a href="/detail/?detailSlug=<%= product.slug %>"
        ><img
          src="<%= product.plaatjes[0].url %>"
          alt="fotoProduct"
          class="foto"
      /></a>

      <!-- Placeholder foto-->
      <% }else{ %>
      <img
        src="/assets/vini-mini-pinda-zakje.png"
        alt="PlaceholderPinda"
        class="foto"
      />
      <% } %>
    </div>

    <div class="productData">
      <h3 class="productName"><%= product.titel %></h3>
      <span class="productPrice"> € <%= product.prijs %> </span>
    </div>
  </div>



  <% }) %>
</section>
 <%- include('./partials/foot') %>

