<%- include('./partials/head.ejs') %>

<!-- home link -->
<div class="mini-nav">
    <a class="mini-nav-links" aria-label="home link" href="/">Home</a>
    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a9a1a1"></i>
    <a class="mini-nav-links" aria-label="producten pagina" href="/">Producten</a>
</div>
<hr>


<section class="section-header-product-page">

    <!-- Responsive images roelie test -->
    <!-- Het picture element is nodig om de afbeeldingen responsive te maken -->
<picture>
    <% if(data.product.plaatjes.length !== 0) { %>  
         <!-- Het source element is nodig om verschillende bronnen te definieren, afhankelijk van de schermbreedte.  -->
         <!-- media geeft de minimale schermbreedte aan die nodig is voor die specifieke afbeelding -->
         <!-- srcset bevat de url naar de afbeelding -->
         <!-- als laatste staat ook nog een img element, die is voor als de andere niet van toepassing zijn -->
         <!-- lazy loading helpt layout shifting tegen te gaan -->
         <source media="(min-width: 1024px)" class="webp" type="image/webp" srcset="<%= data.product.plaatjes[0].originalAsWebP %>?w=1024" width="1024px">
         <source media="(min-width: 768px)" class="webp"  type="image/webp" srcset="<%= data.product.plaatjes[0].originalAsWebP %>?w=768" width="768px">
         <img class="product-pagina-img" src="<%= data.product.plaatjes[0].originalAsWebP %>?w=480" alt="<%= data.product.titel %>" width="<%= data.product.plaatjes[0].width %>" height="<%= data.product.plaatjes[0].height %>" loading="lazy">

    <% } else { %>
        <source media="(min-width: 1024px)" class="webp"  srcset="/img/placeholder.png?w=1024">
        <source media="(min-width: 768px)" class="webp"  srcset="/img/placeholder.png?w=768">
        <img class="placeholder-img" src="/img/placeholder.png?w=480" alt="<%= data.product.titel %>" loading="lazy">
    <% } %>    
</picture>

    <div class="price-checkout-container">
        <p class="product-price">€<%= data.product.prijs %></p>
        <a class="checkout-button" aria-label="check out" href="/checkout?id=<%= data.product.id %>">
            <img src="/img/shop.svg" alt="shopping-cart">
        </a>
    </div>
</section>

<h1 class="product-pagina-h1"><%= data.product.titel %></h1>

<div class="product-pagina-flex-container">
    <section class="product-beschrijving">
        <h2>Beschrijving</h2>
        <%- data.product.beschrijving.html %>
    </section>

    <% if(data.product.schema){ %>
        <section class="product-stappenplan">
            <h2>Stappenplan</h2>
            
            <% data.product.schema.stappen.forEach(stap => { %>
                <h3><%= stap.titel %></h3>
                <%- stap.beschrijving.html %>
            <% }) %>
        </section>
    <% } else { %>
        <section class="else-buttons">
            <a class="voeg-toe" aria-label="voeg toe" href="#">VOEG TOE AAN WINKELWAGEN</a>
            <a class="nu-kopen" aria-label="nu kopen" href="/checkout?id=<%= data.product.id %>">NU KOPEN</a>
        </section>
    <% }; %>
</div>

<% if(data.product.schema){ %>
    <section class="last-buttons">
        <a class="voeg-toe" aria-label="voeg toe" href="#">VOEG TOE AAN WINKELWAGEN</a>
        <a class="nu-kopen" aria-label="nu kopen" href="/checkout?id=<%= data.product.id %>">NU KOPEN</a>
    </section>
<% }; %>

<%- include('./partials/foot.ejs') %>