<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<link rel="stylesheet" href="./style/reservations.css" />

<main>
    <section>
        <h1>Reserveer een studieplek</h1>
    </section>
    <section class="section-studyplace">
        <form class="form-reservate" action="/reserveer-een-studieplek" method="post">
            <fieldset>
				<legend>Persoonlijke gegevens</legend>
                <input
                    required
                    id="id"
                    type="text"
                    name="id"
                    value="<%= locals.studieplekReserveringen?.id ?? 'clgnoumd6fttt0buw6rwa00pa' %>"
                    hidden
                 />
				<label for="beginTijd">Wanneer wilt u reserveren?</label>
				<input
					required
					id="beginTijd"
					type="datetime-local"
					name="beginTijd"
                    min="13:30:00"
                    max="00:00:00"
					value="<%= locals.studieplekReserveringen?.beginTijd ?? '' %>"
                    
				/>
				<label for="naam">Bij welke vestiging wilt u reserveren?</label>
				<input
					required
					id="vestigingId"
					type="text"
					name="vestigingId"
					value="<%= locals.studieplekReserveringen?.vestigingId ?? '' %>"
				/>
                <button class="form-button-submit" type="submit">Verzenden</button>
			</fieldset>
        </form>
    </section>
</main>

<%- include('./partials/foot') %>