<%- include('./partials/head') %>
<link rel="stylesheet" href="./style/vestigingen.css" />
<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<main>
    <section>
        <h1>Bezoek onze vestigingen</h1>
    </section>
    <section class="locations">
    <% vestigingen.forEach(vestiging => { %>
        <article>
            <picture>
                <source 
                    media="(min-width: 20em)"
                    sizes="(max-width: 768px) 100vw, 768px"
                    srcset="<%= vestiging.foto.originalAsWebP %>, <%= vestiging.foto.smallAsWebP %>, <%= vestiging.foto.smallAsWebP %> 320w" 
                    type="image/webp" /> 
                <source 
                    media="(min-width: 20em)"
                    sizes="(max-width: 768px) 100vw, 768px"
                    srcset="<%= vestiging.foto.original %> 1280w, <%= vestiging.foto.small %> 640w, <%= vestiging.foto.small %> 320w"
                    type="image/jpeg"/>
                <img src="<%= vestiging.foto.original %>" alt="<%= vestiging.naam %>" width="300" height="300" />
            </picture> 
            <h2><%= vestiging.naam %></h2>
        </article>
        
		<% }); %>
    </section>
</main>

<dialog>

</dialog>

<%- include('./partials/foot') %>